/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; background: url("../img/bg.png") no-repeat 0 0; background-size: cover; }

.out { margin: 0 auto; width: 1000px; }
.out .h1 { font-size: 30px; }
.out .topic { margin: 40px 0 30px; text-align: center; }
.out .topic .h1 { display: inline-block; text-align: center; }
.out .topic .breadcrumbs { float: left; }
.out .breadcrumbs { padding: 10px 18px; line-height: 1; border: 1px solid white; font-size: 11px; display: inline-block; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.out .breadcrumbs li { display: inline-block; padding-left: 7px; }
.out .breadcrumbs li:first-child { padding-left: 0; }
.out .breadcrumbs li a { color: #40acde; text-decoration: none; }
.out .breadcrumbs li a:hover { text-decoration: underline; }
.out .breadcrumbs li span { color: #666666; }
.out .breadcrumbs li i { color: #40acde; padding-left: 11px; }

.filter { padding: 20px 60px 20px 14px; max-height: 364px; background: white; overflow: auto; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-bottom: 20px; }
.filter .filter__row { margin-bottom: 17px; *zoom: 1; }
.filter .filter__row:after { content: " "; display: table; clear: both; }
.filter .filter__place { float: left; width: 170px; font-size: 16px; overflow: hidden; min-height: 2em; }
.filter .filter__place p { color: #393939; font-size: 11px; }
.filter .filter__place_grey { color: #999999; }
.filter .filter__place_grey p { color: #999999; }
.filter .filter__day { position: relative; float: left; margin-top: 5px; width: 700px; height: 17px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; background: whitesmoke; z-index: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.filter .filter__period { position: absolute; top: 0; margin-left: -14px; width: 14px; height: 100%; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; z-index: 4; background: rgba(255, 255, 255, 0.8); }
.filter .filter__period_1 { left: 25%; }
.filter .filter__period_2 { left: 50%; }
.filter .filter__period_3 { left: 75%; }
.filter .filter__close, .filter .filter__plus { float: right; position: relative; margin-top: 5px; cursor: pointer; display: inline-block; }
.filter .filter__close:active, .filter .filter__plus:active { top: -1px; }
.filter .filter__close { background: url('../img/icons-s6f185aa5d1.png') 0 0 no-repeat; width: 14px; height: 14px; }
.filter .filter__plus { background: url('../img/icons-s6f185aa5d1.png') 0 -54px no-repeat; width: 14px; height: 13px; }
.filter .filter__green, .filter .filter__red, .filter .filter__grey, .filter .filter__grey_dark { top: 0; bottom: 0; width: auto; position: absolute; }
.filter .filter__green { background: #d1ecae; border-left: 1px solid #b0dc79; border-right: 1px solid #b0dc79; z-index: 2; }
.filter .filter__red { background: #f6d4b9; border-left: 1px solid #f6a377; border-right: 1px solid #f6a377; z-index: 3; }
.filter .filter__grey { border-left: 1px solid lightgray; border-right: 1px solid lightgray; background: #e9e9e9; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; }
.filter .filter__grey_dark { border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; background: #e9e9e9; z-index: 3; }
.filter .filter__time { position: relative; float: left; width: 700px; height: 8px; margin: 20px 0 0 0; color: #898989; font-size: 10px; }
.filter .filter__time span { position: absolute; margin-left: -12px; display: inline-block; }
.filter .filter__time .filter__time_1 { left: 0; }
.filter .filter__time .filter__time_2 { left: 24%; }
.filter .filter__time .filter__time_3 { left: 49%; }
.filter .filter__time .filter__time_4 { left: 74%; }
.filter .filter__time .filter__time_5 { left: 100%; }

.total { background: #49addc; margin-bottom: 20px; height: 50px; color: white; border-radius: 10px; }
.total .total__continue { float: right; }
.total .total__continue .total__button { border: 2px solid #1193cf; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: white; color: #1293cf; font-size: 18px; font-weight: bold; text-decoration: none; padding: 0 5px; margin: 7px 9px 0 0; height: 30px; line-height: 30px; cursor: pointer; }
.total .total__continue .total__button:hover { background: #49addc; color: white; }
.total dl { float: left; line-height: 1; padding: 10px 30px 0 13px; height: 40px; border-left: 1px dotted #a2d6ee; }
.total dl:first-child { border-left: none; }
.total dl dt { font-size: 13px; }
.total dl dd { font-size: 18px; padding-top: 1px; font-weight: bold; }

.filter_pre { padding-top: 75px; padding-bottom: 0; }
.filter_pre .filter__green, .filter_pre .filter__red, .filter_pre .filter__grey, .filter_pre .filter__grey_dark { bottom: 15px; }
.filter_pre .filter__day { box-shadow: inset 0 -15px 0 white; }
.filter_pre .filter__place { padding-top: 26px; }
.filter_pre .filter__row { margin-bottom: 0; }
.filter_pre .filter__time { margin-top: 0; margin-bottom: 15px; }
.filter_pre .filter__day { height: 65px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
