// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	font-size: 12px 
	font-family: Arial, sans-serif 
	line-height: 1.4
	background: url('../img/bg.png') no-repeat 0 0
	background-size: cover 


// common blocks      

// out
.out
	margin: 0 auto
	width: 1000px

	// h1
	.h1
		font-size: 30px

	// topic
	.topic
		margin: 40px 0 30px 
		text-align: center
		.h1
			display: inline-block
			text-align: center
		.breadcrumbs
			float: left
			
	// breadcrumbs
	.breadcrumbs
		padding: 10px 18px
		line-height: 1
		border: 1px solid #fff
		font-size: 11px
		display: inline-block
		+border-radius(30px)
		+box
		li
			display: inline-block
			padding-left: 7px
			&:first-child
				padding-left: 0
			a
				color: #40ACDE 
				text-decoration: none
				&:hover
					text-decoration: underline
			span
				color: #666 
			i
				color: #40ACDE
				padding-left: 11px

	// filter
	.filter
		padding: 20px 60px 20px 14px
		max-height: 364px
		background: #FFF 
		overflow: auto
		+border-radius(10px)
		+box
		.filter__row
			margin-bottom: 17px
			+clr

		.filter__place
			float: left
			width: 170px
			font-size: 16px
			overflow: hidden
			p
				color: #393939 
				font-size: 11px

		.filter__place_grey
			color: #999 
			p
				color: #999 

		.filter__day
			position: relative
			float: left
			margin-top: 5px
			width: 700px
			height: 17px
			border-left: 1px solid #EFEFEF 
			border-right: 1px solid #EFEFEF
			background: #F5F5F5 
			z-index: 1
			+box

		.filter__period
			position: absolute
			top: 0
			margin-left: -14px
			width: 14px
			height: 100%
			border-left: 1px solid #e6e6e6
			border-right: 1px solid #e6e6e6
			z-index: 4
			background: #fff 
			+opacity(0.5)
			
		.filter__period_1
			left: 25%
			
		.filter__period_2
			left: 50%

		.filter__period_3
			left: 75%
		
		.filter__close, .filter__plus
			float: right
			position: relative
			margin-top: 5px
			cursor: pointer
			display: inline-block 
			&:active
				top: -1px

		.filter__close
			+s(close) 

		.filter__plus
			+s(plus)

		.filter__green, .filter__red, .filter__grey, .filter__grey_dark
			top: 0
			bottom: 0
			width: auto 
			+opacity(.3)
			
		.filter__green
			background: #D1EDAB 
			border-left: 1px solid #89f008
			border-right: 1px solid #89f008
			z-index: 2

		.filter__red
			background: #f89273 
			border-left: 1px solid #f44009
			border-right: 1px solid #f44009
			z-index: 3
		
		.filter__grey
			border-left: 1px solid #d3d3d3
			border-right: 1px solid #d3d3d3
			background: #E9E9E9 
			z-index: 2
			+opacity(.3)

		.filter__grey_dark
			border-left: 1px solid #dddddd
			border-right: 1px solid #dddddd
			background: #D9D9D9 
			z-index: 3 
			+opacity(.3)

		.filter__time
			position: relative
			float: left
			width: 700px
			height: 8px
			margin: 20px 0 0 0
			color: #898989
			font-size: 10px
			span
				position: absolute
				margin-left: -12px
				display: inline-block
				// &:first-child
				// 	margin-left: -12px
				// 	padding-right: 12px
			.filter__time_1
				left: 0
			.filter__time_2
				left: 24%
			.filter__time_3
				left: 49%
			.filter__time_4
				left: 74%
			.filter__time_5
				left: 100%